header {
    border-bottom: solid 1px black;
    background: #61578a
}

.header-inner {
    width: 80%;
    margin: auto;
}

    .header-inner > h1 {
        display: inline-block;
        margin-left: 10px;
        font-family: Verdana;
        color: gold;
        font-size: 2.1em;
        margin: 10px;
    }

.header-form {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.main {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.btn-primary {
    background: gold;
    color: #61578a
}

.link {
    color:gold;
}

.link:visited,
.link:hover {
    text-decoration: none;
    color: gold;
}

.game-info {
    display: inline-block;
    clear: both;
    width: 45%;
    margin: 5px;
}

.game-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.game-image {
    float: left;
}

.game-details {
    margin-top: -20px;
    margin-left: 100px;
    height: 140px;
    background: lightslategray;
    vertical-align: top;
}

    .game-details > h3 {
        padding: 3px;
        padding-left: 18px;
        background: #61578a;
        color: gold;
    }

    .game-details > div {
        margin-top: -6px;
        padding: 4px;
        padding-left: 8px;
        color: gold;
    }

        .game-details > div > span {
            color: white;
        }

.card-info {
    width: 220px;
}

.card-image {
    padding: 20px;
    position: relative;
}

    .card-image > image {
        display: block;
        height: auto;
    }

.card-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.card-details {
    padding: 0 10;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.card-game-title {
    background: #61578a;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 2em;
    color: gold;
}

.card-game-subtitle {
    background: lightslategray;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 1.4em;
    color: white;
}

.card-options {
    position: absolute;
    bottom: 20;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    color: white;
    padding: 10px;
    height: auto;
    margin: 0;
}

.card-image:hover .card-options {
    opacity: 1;
}

.container {
    width:500px;
    clear:both;
}

.form {
    display:table;
    width:70%
}
.form-label, .form-input {
    display:table-cell;
    margin-top:5px;
    margin-bottom:5px
}

.form-label {
    width:20%
}

.form-input {
    width:60%;
}

.form-paragraph {
    display:table-row;
    width:auto
}