header {
    border-bottom: solid 1px black;
    background: #61578a
}

.header-inner {
    width: 80%;
    margin: auto;
}

    .header-inner > h1 {
        display: inline-block;
        margin-left: 10px;
        font-family: Verdana;
        color: gold;
        font-size: 2.1em;
        margin: 10px;
    }

.header-form {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.link {
    color:gold;
}

.link:visited,
.link:hover {
    text-decoration: none;
    color: gold;
}

.game-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.card-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.card-details {
    padding: 0 10px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.card-game-title {
    background: #61578a;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 2em;
    color: gold;
}

.card-game-subtitle {
    background: lightslategray;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 1.4em;
    color: white;
}

.card-options {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;       
}

.show-on-hover {
    transition: .5s ease;
    opacity: 0;
}

.show-on-hover:hover {
    opacity: 1;
}

.container {
    width:500px;
    clear:both;
}

.form {
    display:table;
    width:70%;
    margin:5px;
}
.form-label, .form-input {
    display:table-cell;
    margin-top:5px;
    margin-bottom:5px
}

.form-label {
    width:16%
}

.form-input {
    width:60%;
}

.form-paragraph {
    display:table-row;
    width:auto
}

.card-count[data-card-count]:after {
    content: attr(data-card-count);
    position: absolute;
    background: #61578a;
    top: -10px;
    right: -10px;
    font-size: 1.2em;
    color: white;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}