@page
@model Cogslite.Pages.JoinModel
@{
    ViewData["Title"] = "Join";
}
<div class="card my-5 mx-auto" style="width: 500px;">
    <div class="card-header text-center">
        Join COGS
    </div>
    <div class="card-body">
        <div class="alert alert-danger @Model.MessageClass">
            @ViewData["Message"]
        </div>
        <form method="post" class="form-signin">
            <div class="form-group">
                <label for="emailAddress"><b>Email Address</b></label>
                <input type="text" name="emailAddress" value="@ViewData["EmailAddress"]" required class="form-control">
            </div>
            <div class="form-group">
                <label for="userName"><b>User Name</b></label>
                <input type="text" name="displayName" value="@ViewData["DisplayName"]" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" name="password" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password"><b>Confirm Password</b></label>
                <input type="password" name="confirmPassword" required class="form-control">
            </div>
            <br />
            <div class="text-center"><input type="submit" class="btn btn-primary px-5" value="Create Account" /></div>
        </form>
    </div>
</div>

