@page
@model SignInModel
@{
    ViewData["Title"] = "SignIn";
}

<div class="card my-5 mx-auto" style="width: 400px;">
    <div class="card-header text-center">
        Sign in to COGS
    </div>
    <div class="card-body">
        <form method="post" class="form-signin">
            <div class="form-group">
                <label for="emailAddress"><b>Email Address</b></label>
                <input type="text" name="emailAddress" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" name="password" required class="form-control">
            </div>
            <br />
            <div class="text-center"><input type="submit" class="btn btn-primary px-5" value="Sign In" /></div>            
        </form>
    </div>            
</div>
