@page
@model UploadCardsModel
@{
    ViewData["Title"] = "UploadCards";
}

<div class="main">
    <h2>Upload cards for @Model.Game.Name</h2>
    <br />
    <form method="post" enctype="multipart/form-data" asp-page="UploadCards" class="form">
        <p class="form-paragraph">
            <label for="cardData" class="form-label"><b>Card data</b></label>
            <input type="file" name="cardData" required class="form-input" />
        </p>
        <p class="form-paragraph">
            <label for="images" class="form-label"><b>Card images (optional)</b></label>
            <input type="file" name="images" class="form-input" />
        </p>
        <p class="form-paragraph">
            <label for="cardWidth" class="form-label"><b>Images Width</b></label>
            <input type="number" name="cardWidth" required class="form-input" />
        </p>        
        <p class="form-paragraph">
            <label for="cardHeight" class="form-label"><b>Images Height</b></label>
            <input type="number" name="cardHeight" required class="form-input" />
        </p>        
        <input type="hidden" name="ownerId" value="@Model.Game.Owner.Id" />
        <input type="hidden" name="gameId" value="@Model.Game.Id" />
        <br />
        <input type="submit" class="btn btn-primary" value="Add Cards" />
    </form>
</div>