@page
@model UploadCardsModel
@{
    ViewData["Title"] = "UploadCards";
}

<div class="main">
    <h2>Upload cards for @Model.Game.Name</h2>
    <br />
    <form method="post" enctype="multipart/form-data" asp-page="UploadCards" class="form">
        <p class="form-paragraph">
            <label for="cardsPerRow" class="form-label"><b>Cards per row</b></label>
            <input type="number" name="cardsPerRow" required class="form-input" />
        </p>
        <p class="form-paragraph">
            <label for="cardCount" class="form-label"><b>Number of cards</b></label>
            <input type="number" name="cardCount" required class="form-input" />
        </p>
        <p class="form-paragraph">
            <label for="cardSheet" class="form-label"><b>Upload a card sheet</b></label>
            <input type="file" name="cardSheet" required class="form-input" />
        </p>
        <p class="form-paragraph">
            <label for="cardSheet" class="form-label"><b>Upload an info sheet (optional)</b> <a href="">Learn about card info sheets</a></label>
            <input type="file" name="infoSheet" class="form-input" />
        </p>
        <input type="hidden" name="ownerId" value="@Model.Game.Owner.Id" />
        <input type="hidden" name="gameId" value="@Model.Game.Id" />
        <br />
        <input type="submit" class="btn btn-primary" value="Add Cards" />
    </form>
</div>
