<div class="modal fade" id="cardDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #61578a;">
                <h2 class="modal-title" style="color: goldenrod;" id="exampleModalLongTitle">{{selectedCard.name}}</h2>
            </div>
            <div class="modal-body">
                <div style="float: left; padding: 15px;">
                    <img src="{{imageUrl(selectedCard)}}" style="float: left;" />
                </div>
                <div ng-show="!isGameOwner">
                    <h3>Type</h3>
                    <div>{{selectedCard.type}}</div>
                    <h3>Tags</h3>
                    <div>{{selectedCard.tags}}</div>
                </div>
                <div ng-show="isGameOwner" class="form-inline">
                    <h3>Card Name</h3>
                    <div><input type="text" class="form-control" ng-model="cardEdit.name" /></div>
                    <h3>Type</h3>
                    <div><input type="text" class="form-control" ng-model="cardEdit.type" /></div>
                    <h3>Tags</h3>
                    <div><input type="text" class="form-control" ng-model="cardEdit.tags" /></div>
                </div>
            </div>
            <div class="modal-footer" style="clear: both">
                <button type="button" class="btn btn-primary" ng-show="isGameOwner" ng-click="updateCard()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>